input,
button {
    border: 0 none;
    outline: 0 none;
}

.buy-button:hover,
.buy-button:focus {
    background-color: rgb(165, 26, 33);
}

img,
.basket-labels,
.basket-product {
    width: 100%;
}

input,
button,
.basket,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
    float: left;
}

.price::after,
.subtotal::after,
.subtotal-value::after,
.total-value::after,
.promo-value::after {
    content: '₽';
}

.basket,
aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket {
    width: 70%;
}

.basket-module {
    color: #111;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
}

.basket-wrap {
    margin-top: 1.625rem;
}

.basket-labels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.basket-labels li {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
}

li.price::after,
li.subtotal::after {
    content: '';
}

.item {
    width: 55%;
}

.price,
.quantity,
.subtotal {
    width: 15%;
}

.subtotal {
    text-align: right;
}

.remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    width: 45%;
}

.remove button {
    background-color: transparent;
    color: #777;
    float: none;
    font-size: 14px;
    text-decoration: underline;
}

.item-heading {
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket-product {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
}

.product-image {
    width: 35%;
}

.product-details {
    width: 65%;
}

.product-frame {
    border: 1px solid #aaa;
}

.product-details {
    padding: 0 1.5rem;
}

.quantity-field {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 2px;
    width: 3.75rem;
}

aside {
    float: right;
    position: relative;
    width: 30%;
}

.summary {
    background-color: rgb(245, 245, 245);
    border: 1px solid #aaa;
    padding: 1rem;
    width: 250px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.summary-total-items {
    color: #666;
    text-align: center;
}

.summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value {
    color: #111;
    float: left;
    width: 50%;
}

.subtotal-value,
.total-value {
    text-align: right;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
}

.summary-checkout {
    display: block;
}

.buy-button{
    display: block;
    float: none;
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
    color: white;
    background-color: #FD4E56;
}

.back-to-store{
    font-size: 0.9rem;
    padding: 0.625rem 0;
    text-transform: uppercase;
    text-align: center;
}

.back-to-store a:hover{
    color: #FD4E56;
    cursor: pointer;
}
.clear-basket{
    margin-bottom: 10px;
    color: #777;
    float: right;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.refresh{
    width: 21px;
    height: 21px;
    background-image: url("../static/refresh-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}