.products {
    display: flex;
    margin-top: 30px;
}

.nav-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.product-list-filter{
    max-width: 190px;
    padding-right: 25px;
    vertical-align: top;
}

.product-list-content {
    width: auto;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 10px -20px 10px 0;
}

.product-list-item{
    flex-direction: column;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 240px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}

.product-list-item:hover{
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.4);
}

.product-img {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    margin-bottom: 15px;
}
.product-info-header {
    display: block;
    min-height: 58px;
}

.product-info-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.product-price {
    font-weight: bold;
}

.product-author {
    color: rgba(0,0,0,0.5);
}